# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Folders
_obj/
_test/
bin/
pkg/
vendor/

# Node / Bun
node_modules/
bun.lockb
.DS_Store
dist
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# DB
/chat.db
server/chat.db
# Database and log files
*.db
*.log
server/server.log
